<div class="footer">
<div class="footer-first-row">
	<p>Copyright © 2014 <a href="#" color="">Jinan University Alunmi Association Benelux</a> All Right Reserved</p>
	<p><a href="#">暨南大学荷比卢校友会</a>版权所有 粤ICP备12087612号</p>
	<p>Powered By <a href="http://www.jnuren.com" target="_blank" style="color:#fff" id="jnuren">www.jnuren.com</a> @王耀 arthurss@jnuren.com</p>
</div>
<!--<div class="footer-second-row"></div>如果需要去掉注释 -->

</div><!-- footer end! -->
      </div>
<!--[if IE 6]>
<script type="text/javascript" src="{JS_PATH}nsz.js"></script>
<script type="text/javascript">
	nsz.fix('.sr_logo img');
</script>
<![endif]-->
</body>
</html>