{template 'search', 'header'}
<div class="bodywrap">
   <div class="header">

       <div class="header-first-row">
        <div class="logowrap">
            <a href="{siteurl($siteid)}/"><img src="{IMG_PATH}/logo.png"  width="330px" /></a>
        </div>

        <div class="search-login-wrap">
            <div class="loginwrap">
                <div class="login lh24 blue">
                    <span class="rt">
                        <script type="text/javascript">document.write('<iframe src="{APP_PATH}index.php?m=member&c=index&a=mini&forward='+encodeURIComponent(location.href)+'&siteid={get_siteid()}" allowTransparency="true"  width="500" height="24" frameborder="0" scrolling="no"></iframe>')
                        </script>
                    </span>
                </div>
            </div>

            <div class="searchwrap">

               <!--<div class="bd"> -->
               <form action="{APP_PATH}index.php" method="get" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="hidden" name="m" value="search"/>
                    <input type="hidden" name="c" value="index"/>
                    <input type="hidden" name="a" value="init"/>
                    <input type="hidden" name="typeid" value="{$typeid}" id="typeid"/>
                    <input type="hidden" name="siteid" value="{$siteid}" id="siteid"/>
                    <input type="text" class="form-control" placeholder="Search" name="q" id="q"
                    style="width:180px"/>
                    <input type="submit" value="搜 索" class="btn btn-default"/>
                </div>
            </form>
            <!--</div> -->
        </div>
    </div>
    <!-- search-login-wrap end!-->
</div>
<!-- header-first-row end! -->
<div class="header-second-row">
    <div class="topnavwrap">
       {pc:content action="category" catid="0" num="25" order="listorder ASC" return="dataa"}
       <ul class="navigation">
         <a href="{siteurl($siteid)}"><li>首页</li></a>
         {loop $dataa $r}
         <a href="{$r[url]}"><li><span>{$r[catname]}</span></li></a>
         {/loop}
     </ul>
     {/pc}
    </div>
</div>
<!-- header-second-row end! -->
<div class="wrap sr_lists" style="margin-top:30px;">
   <div class="l">
       <!--<div>
           <span>网页结果</span>
           <ul>
            {loop $search_model $k=>$v}
            <li><a href="?m=search&c=index&a=init&typeid={$v['typeid']}&q={urlencode($search_q)}&siteid={$siteid}&time={$time}" {if $v['typeid']==$typeid} class="ac"{/if}>{$v['name']}</a>
            </li>
            {/loop}
        </ul>
    </div>-->
    <div>
       <span>按时间搜索</span>
       <ul>
        <li><a href="?m=search&c=index&a=init&typeid={$typeid}&q={urlencode($search_q)}&siteid={$siteid}&time=all" {if $time=='all' || empty($time)}class="ac"{/if}>全部时间</a></li>
        <li><a href="?m=search&c=index&a=init&typeid={$typeid}&q={urlencode($search_q)}&siteid={$siteid}&time=day" {if $time=='day'}class="ac"{/if}>一天内</a></li>
        <li><a href="?m=search&c=index&a=init&typeid={$typeid}&q={urlencode($search_q)}&siteid={$siteid}&time=week" {if $time=='week'}class="ac"{/if}>一周内</a></li>
        <li><a href="?m=search&c=index&a=init&typeid={$typeid}&q={urlencode($search_q)}&siteid={$siteid}&time=month" {if $time=='month'}class="ac"{/if}>一月内</a></li>
        <li><a href="?m=search&c=index&a=init&typeid={$typeid}&q={urlencode($search_q)}&siteid={$siteid}&time=year" {if $time=='year'}class="ac"{/if}>一年内</a></li>
    </ul>
</div>
<div class="bgno">
   <span>搜索历史</span>
   <ul id='history_ul'>
   </ul>
</div>
</div>
<div class="c wrap" style="padding-left:20px;padding-right:15%;">
       
        <div class="jg" style="padding-left:20px;">获得约 {$totalnums} 条结果 （用时{sprintf("%01.2f", $execute_time)} 秒）</div>


   <ul class="wrap">
    {pc:content action="list" num="25" siteid="$siteid" order="listorder ASC"}
      {loop $data $i $r}
      <li class="wrap">
         <div>
            {if $r['thumb']}<a href="{$r[url]}"><img src="{$r[thumb]}" width="100" height="60" /></a>{/if}
            <h5><a href="{$r[url]}">{$r[title]}</a>{if $r['posids']}<img src="{IMG_PATH}icon/small_elite.gif">{/if}</h5>
            <p>{$r[description]}......</p>
        </div>
        <div class="adds">发布时间：{format::date($r[inputtime], 1)}</div>
    </li>
    {/loop}
    {/pc}
    {if empty($data)}未找到结果{/if}
</ul>


<div id="pages" class="text-c mg_t20">{$pages}</div>
{if $setting['relationenble']}
<div class="wrap sgch"><strong>相关搜索：</strong>
   {loop $relation $k $v}
   <a href="?m=search&c=index&a=init&typeid={$typeid}&siteid={$siteid}&q={$v['keyword']}">{$v['keyword']}</a> 
   {/loop}
</div>
{/if}
</div>
</div>
</div>
<script type="text/javascript" src="{JS_PATH}search_history.js"></script>
{if $setting['suggestenable']}
<script type="text/javascript" src="{JS_PATH}jquery.suggest.js"></script>
<script type="text/javascript" src="{JS_PATH}search_suggest.js"></script>
{/if}
{template 'search', 'footer'}
